<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Sign UP</title>
</head>

<body>
    <h1>Employee Signup</h1>
    <div>
        <form method="post" action="/employees/signup">
            <div>
                <label for="name">Full Name</label>
                <input type="text" name="name" placeholder="Full Name...">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" placeholder="Email...">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>

            <div>
                <label for="job_title">Job Title</label>
                <input type="text" name="job_title" placeholder="Job Title">
            </div>

            <div>
                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </div>

        </form>
    </div>
</body>

</html>